*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

**/google-services.json
**/node_modules/
**/service-account*.json
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

.kotlin/
